<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

  <div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="/login">Log in</a>
    <a href="/register">Register</a>
    <a href="/about">About</a>
    <a href="/download">Download</a>
    <a href="/contact">Contact Us</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
<div class="banner">
    <h1 style="justify-content: center">About Srishti</h1>
</div>
<div class="body">
    <h3 style="padding-left: 10px; padding-top: 10px;">Developer team</h3><br>
    {% for image, user_info in image_user_mapping.items() %}
    <div style="display: flex; padding: 20px;" class="info_container">
        <div>
            <img src="data:image/jpeg;base64,{{ image }}" alt="Image" class="info_pic">
        </div>
        <div style="padding: 20px;">
            <h4>
                {% if user_info.username == 'Arnab Mondal' %}
                    Main Developer: {{ user_info.username }}
                {% else %}
                    Developer: {{ user_info.username }}
                {% endif %}
            </h4>
            <p><i>{{ user_info.bio }}</i></p>  <!-- Access the bio data -->
        </div>
    </div>    
    {% endfor %}
</div>

<div class="footer">
  <hr style="max-width: 90%; width: 100%;">
  <p>&copy; 2023 Srishti. All rights reserved.</p>
</div>


<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</body>
</html>