<!DOCTYPE html>
<html>
<head>
    <title>Developer registration page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

  <div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="/login">Log in</a>
    <a href="/register">Register</a>
    <a href="/about">About</a>
    <a href="/download">Download</a>
    <a href="/contact">Contact Us</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

<div class="banner">
    <h1 style="justify-content: center">Developer Registration</h1>
</div>
<br>
<div class="body_log">
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            <label for="dev_key"><b>Company ID:</b></label>
            <input type="text" id="dev_key" name="dev_key" required><br><br>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
    
            <label for="profile_picture">Profile Picture:</label>
            <input type="file" id="profile_picture" name="profile_picture" required><br><br>

            <label for="bio">Bio:</label>
            <textarea id="bio" name="bio" rows="4" cols="50"></textarea>
    
            <input type="submit" value="Register" class="reg_up">
        </form>
    </div>
</div>

<div class="footer">
    <h1 style="text-align: center; padding-top: 10px;">
        This is the page of the developer to log in. This is only for developers, not for any other users.
    </h1>
    <hr style="max-width: 90%; width: 100%;">
    <p>&copy; 2023 Srishti. All rights reserved.</p>
</div>


<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</body>
</html>
